*{
	box-sizing: border-box;
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    100% {
        width: 19ch;
    }
}
@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

body {
	background-color: #1A132F;
	color:#E6C2FF ;
	font-family: papyrus, fantasy;
}

header {
	background-color: #1A132F;
	color: #E6C2FF;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0 auto; display: block;
	box-shadow: 0px 0px 15px;
}

header h1{
	font-size: 60px;
	font-weight: bold;
	display: inline-block; /* Behält die Mitte bei */
	white-space: nowrap; 
    overflow: hidden; 
    width: 0; 

    border-right: 3px solid #E6C2FF ;
    padding-right: 5px; 
    
    animation: typewriter 5s steps(20, end) infinite, blinkCursor 0.6s infinite; /* Unendliche Wiederholung */
}

nav{
	background-color: #1A132F;
	overflow: hidden;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
}
nav a{
	color: #E6C2FF;
	text-decoration: none;
	padding: 10px 80px;
	display: inline-flex;
	flex-wrap: wrap;
}

nav a:hover{
	color: #FF7DE9;
}

.gif {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.gif img, video {
	display: inline-block;
    max-width: 100%;
    height: auto;
}
.gif p {
    font-size: 16px;
    color: #FF7DE9;
    position: relative;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

footer{
	padding: 10px;
	background-color: #1A132F;
	text-align: center;
	color: #E6C2FF
}

footer img {
	height: 40px;
	padding: 10px;
	text-align: center;
	display: inline-block;
	transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.4); /* Leichtes Vergrößern beim Überfahren */
}

/* RESPONSIVE DESIGN - Anpassungen für kleinere Screens */
@media (max-width: 768px) {
	header h1 {
		font-size: 40px; /* Kleinere Schrift für mobile Geräte */
	}

	nav a {
		display: block; /* Links untereinander für bessere Lesbarkeit */
		padding: 10px;
		font-size: 20px;
	}

	.gif {
		flex-direction: column;
		max-width: 100%;
	}

	.gif p {
		font-size: 14px;
		bottom: 5px;
		right: 5px;
		padding: 3px 8px;
	}

	footer img {
        height: 35px;
    }
}

@media (max-width: 480px) {
	header h1 {
		font-size: 30px;
	}

	nav a {
		font-size: 18px;
	}

	footer img {
        height: 30px;
    }
}